# AGK project files
*.agk
*.byc
*.exe

*.byc

SCVS Todo.txt

tempAlbumCover.png

tempAlbumCover2.png

steam_api64.dll

temp/

singlePlayerButton.pdn

Exports/

AndroidLeaderboardIcon.pdn

AndroidLeaderboardIcon.png

Store Materials/

SCVS Mobil Demo Files.zip

oldMedia/

SpaceCrabVSDesktopDemoBeta1.zip

SCVS Steam Demo 1.zip

Steam Materials/
